
@{
    ViewData["Title"] = "Quản Lý";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}

<div id="main-content">
    <!-- BEGIN Page Title -->
    <div class="page-title">
        <div>
            <h1><i class="fa fa-file-o"></i> Trang chủ</h1>
        </div>
    </div>
    <!-- END Page Title -->
    <!-- BEGIN Breadcrumb -->
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li class="active"><i class="fa fa-home"></i>Quản Lý</li>
        </ul>
    </div>
    <!-- END Breadcrumb -->
    <!-- BEGIN Tiles -->
    <div class="row">

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <div class="tile tile-orange">
                        <div class="img">
                            <i class="fa fa-sticky-note-o"></i>
                        </div>
                        <div class="content">
                            <p class="big">@ViewBag.DonHang.Count</p>
                            <p class="title">Đơn hàng</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="tile tile-dark-blue">
                        <div class="img">
                            <i class="fa fa-cubes"></i>
                        </div>
                        <div class="content">
                            <p class="big">@ViewBag.SanPham.Count</p>
                            <p class="title">Sản phẩm</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="tile tile-gray">
                        <div class="img">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="content">
                            <p class="big">@ViewBag.KhachHang.Count</p>
                            @* <p class="big">@this.ViewBag.Customer.Count</p>*@
                            <p class="title">Khách hàng</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="tile tile-pink">
                        <div class="img">
                            <i class="fa fa-user-circle"></i>
                        </div>
                        <div class="content">
                            <p class="big">@ViewBag.QuanLy.Count</p>
                            <p class="title">Quản Lý</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- END Tiles -->
    <!-- BEGIN Main Content -->
    <!-- END Main Content -->
    <footer>
        <p>© Copyright 2020 by Hauvx - Hotline: 098.241.2827 - Email: Hau.vx@viettinlab.com</p>
    </footer>
    <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
</div>
